/*	DESKTOP VIEW	*/

@media (min-width: 900px){

	body {	
		font-size: 2em;
		padding-left: 5%;
		padding-right: 5%;
	}

	/*#################### DESKTOP HEADER ####################*/

	#noadblock {
		font-size: 0.5em;
	}

	#randompage {
		text-decoration: none;
		color: red;
		float: right;
		margin-bottom: 3%;
	}

	#main_title {
		font-size: 3.125em;
		clear: right;
	}

	#am1 {
		padding-left: 10%;
	}

	#am2 {
		padding-right: 10%;
	}

	#welcome_line {
		font-size: 1.5em;
		padding-top: 2%;
	}

	#tpomo {
		padding-left: 22%;
	}

	#snms {
		padding-right: 22%;
	}


	/*#################### DESKTOP MAIN ####################*/

	#interests , #rec_arts {
		font-size: 1.3em;
	}

	#tags {
		width: 50%;
		float: left;
	}

	#listag {
		padding-left: 0%;
		margin-top: 0%;
		margin-bottom: 0%;
	}

	.li1 {
		padding-left: 15%;
	}

	.li3 {
		padding-right: 15%;
	}

	#articles {
		width: 50%;
	}

	#articles > ul {
		padding-left: 0%;
	}

	.article {
		width: 75%;
		margin: auto;
		padding-left: 5%;
		padding-right: 5%;
		margin-bottom: 5%;
	}

	.art_title {
		margin-top: 3%;
		margin-bottom: 3%;
		font-size: 1.4em;
	}

	.art_tldr {
		font-size: 0.7em;	
	}

	.rel_tags {
		font-size: 0.6em;
	}


	/*#################### DESKTOP FOOTER ####################*/

	footer {
		font-size: 0.5em;
		width: 15%;
		clear: both;
	}


}
