/* Fervojo:		https://fontesk.com/fervojo-typeface/		*/

@font-face {
	font-family: "Fervojo-Regular";
	src: url('../fonts/Fervojo-Regular.otf') format("opentype");	
}

@font-face {
	font-family: "Fervojo-Bold";
	src: url('../fonts/Fervojo-Bold.otf') format("opentype");
}

@font-face {
	font-family: "Fervojo-Demi";
	src: url('../fonts/Fervojo-Demi.otf') format("opentype");
}

@font-face {
	font-family: "Fervojo-Light";
	src: url('../fonts/Fervojo-Light.otf')format("opentype");
}

@font-face {
	font-family: "Fervojo-Medium";
	src: url('../fonts/Fervojo-Medium.otf')	format("opentype");
}

@font-face {
	font-family: "Fervojo-Thin";
	src: url('../fonts/Fervojo-Thin.otf') format("opentype");
}


/* Mars-Project:	https://fontesk.com/mars-project-font/		*/

@font-face {
	font-family: "Mars-Project";
	src: url('../fonts/Mars-Project.otf') format("opentype");	
}


/* Protique:		https://fontesk.com/protique-typeface/		*/

@font-face {
	font-family: "Protique Black";
	src: url('../fonts/Protique Black.otf') format("opentype");	
}

@font-face {
	font-family: "Protique Bold";
	src: url('../fonts/Protique Bold.otf') format("opentype");	
}

@font-face {
	font-family: "Protique Light";
	src: url('../fonts/Protique Light.otf') format("opentype");
}

@font-face {
	font-family: "Protique Medium";
	src: url('../fonts/Protique Medium.otf') format("opentype");
}

@font-face {
	font-family: "Protique Thin";
	src: url('../fonts/Protique Thin.otf') format("opentype");
}

