body {
	background-color: #1a1a1a;
	font-family: Fervojo-Regular;
	color: white;
	font-size: 2em;
	padding-left: 5%;
	padding-right: 5%;
}


/*#################### HEADER ####################*/

#under_con {

	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0%;
	padding-right: 0%;
	background-color: #0040ff;
	border-style: double;
	text-align: right;
}

#main_title {
	font-size: 3.125em;
	font-family: Fervojo-Bold;
	text-align: center;
}

#am1 {
	float: left;
	padding-left: 10%;
}

#am2 {
	float: right;
	padding-right: 10%;
}

#welcome_line {
	font-size: 1.5em;
	font-family: Fervojo-Medium;
	text-align: center;
	padding-top: 0.5%;
}

#snms {
	text-align: right;
}



/*#################### MAIN ####################*/



#tags {
	width: 50%;
	float: left;
	list-style-type: none;
}

#interests, #rec_arts {
	font-family: Fervojo-Bold;
	font-size: 1.3em;
	text-align: center;

}

#listag {
	padding-left: 0%;
	margin-top: 0%;
	margin-bottom: 0%;

}

.li1 {
	text-align: left;
	list-style: inside;
	padding-left: 15%;
	font-family: Mars-Project;
	list-style-type: none;
}

.li2 {
	text-align: center;
	list-style: inside;
	list-style-type: none;
}

.li3 {
	text-align: right;
	list-style: inside;
	padding-right: 15%;
	font-family: Protique Medium;
	list-style-type: none;
}

.art_title:w


#articles {
	width: 50%;
	float: right;
}


/*#################### FOOTER ####################*/

footer {
	font-size: 0.5em;
	width: 500px;
	clear: right;
}

footer a:link {
	color: red;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

