body {
	background-color: #1a1a1a;
	font-family: Fervojo-Regular;
	color: white;
	font-size: 2em;
	padding-left: 5%;
	padding-right: 5%;
}


/*#################### HEADER ####################*/

#main_title {
	font-size: 3.125em;
	font-family: Fervojo-Bold;
	text-align: center;
}

#am1 {
	float: left;
	padding-left: 10%;
}

#am2 {
	float: right;
	padding-right: 10%;
}

#welcome_line {
	font-size: 1.5em;
	font-family: Fervojo-Medium;
	text-align: center;
	padding-top: 0.5%;
}

#snms {
	text-align: right;
}



/*#################### MAIN ####################*/



#tags {
	width: 50%;
	float: left;
}

#articles {
	width: 50%;
	float: right;
}

@media (max-width: 500px){

	#tags {
		width: 100%;
		float: none;
	}

	#articles {
		width: 100%;
		float: none;
	}
}


/*#################### FOOTER ####################*/

footer {
	font-size: 0.5em;
	width: 500px;
	clear: right;
}

footer a:link {
	color: red;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

