@media (max-width: 700px){

	body {
		font-size: 1.3em;
		padding-left: 4%;
		padding-right: 4%;
		margin: 0% 0% 0% 0%;

	}


	/*#################### MOBILE HEADER ####################*/

	#main_title {
		font-size: 2.2em;
		padding-top: 7%;
		padding-bottom: 7%;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#am1, #am2 {
		padding-left: 0%;
		padding-right: 0%;
	}

	#welcome_line {
		margin-top: 10%;
		margin-bottom: 0%;
	}

	#tpomo {
		margin-top: 5%;
	}

	#snms {
		margin-top: 0%;
		margin-bottom: 0%;
	}



	/*#################### MOBILE MAIN ####################*/

	main {

		display: flex;
		flex-direction: column;
	}

	#tags {
		width: 100%;
		float: none;
		order: 2;
		margin-top: 10%;
	}

	#articles {
		width: 100%;
		float: none;
		order: 1;
		margin-top: 10%;
	}








	/*#################### MOBILE FOOTER ####################*/


	footer {
		width: 100%;

	}








}
